.row {
  max-width: $grid-width;
  // background-color: #eee;
  margin: 0 auto; // Center

  // Everything except the last child psuedo class.
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  /* This is a selector. Can be used for multiple scenarios, for instance 
    Links, selcting all the links that open in a new tab, can be styled 
    differently than those that open on the current window.
  */

  // Select all the elements in which the 'class' attribute:
  // ^ : starts with "col-"
  // * : contains the part 'col-'
  // $ : ends with "col-"
  [class^="col-"] {
    // background-color: green; 
    // color: #eee;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  // Automatically add the column classes for grid 1 - 6
  @for $i from 1 through 12 {
    @for $j from 1 through 12 {
      .col-#{$i}-of-#{$j} {
        width: calculate-col-width($i, $j);
      }
    }
  }
}
