.card {
  // Define the perspecitive property on the parent
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  // When the card is hovered, the card side will be translated
  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__side{
    position: absolute;
    color: $color-white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: $default-box-shadow-hover;

    &--front {
      background-color: $color-white;
      top: 0;
      left: 0;
    }

    &--back {
      background-color: green;
      transform: rotateY(-180deg);
      top: 0;
      left: 0;

      &-1{
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark); 
      }
    }
  }
}
