.form {
  &__group {
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: $radius-x-small;
    background-color: rgba($color-white, .5);
    border: none; 
    border-bottom: .3rem solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: $default-box-shadow-small;
      border-bottom: .3rem solid $color-primary;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    // Hide Webkit placeholders when the input element receives focus

    &[placeholder]:focus::-webkit-input-placeholder {
      transition: opacity 0.2s 0.2s ease-out; 
      opacity: 0;
    }

    &:focus:invalid{
      border-bottom: .3rem solid $color-secondary-dark;
    }

    &:focus:valid {
      border-bottom: .3rem solid $color-primary;
    }
  }

  // cannot be inside the input class because you dont want to style the input,
  // you want to style the label.

  // Makes use of the Adjacent Sibling selector ('+')
  // to select the sibling directly after the current element.

  // Can also use the General Sibling Selector ('~')
  // to select a genreal sibling that is not adjacent to the element.

  // Note: The sibling has to be AFTER the current element.
  &__input:not(:focus) + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;

    transition: all .3s;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  // Hide the actual radio Button
  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer; 
    position: relative;
    padding-left: 3.5rem;
    backface-visibility: hidden;
  }

  // will be the actual radio box.
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: .2rem solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;
    transition: all .3s;
    
    &::after  {
      @include absCenter;
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      background-color: $color-primary;
      opacity: 0;

      transition: opacity .2s;
    }
  }

  // Select the First sibling from the Input, and select its 
  // child element's after psuedo class. 
  &__radio-input:checked + &__radio-label &__radio-button::after{
    opacity: 1;
  }

  &__radio-input:not(:checked):hover + &__radio-label &__radio-button::after{
    background-color: rgba($color-primary-light, .5);
    opacity: 1;
  }
}
