.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  background-color: rgba($color-black, 0.8);

  &__content {
    @include absCenter;
    position: absolute;
    background-color: $color-white;
    width: 75%;
    height: 80vh;
    border-radius: $radius-x-small;
    box-shadow: $default-box-shadow;

    border: 1px solid $color-grey-light-3;
  }
}
