.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: $radius-x-small;
  padding: 6rem;
  font-size: $default-font-size;
  padding-left: 9rem;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond (phone) {
    transform: skewX(0);
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    // Its the center of the circle horizontally and vertically
    // for this to work, the element has to be floated, and if the
    // element has a width and a height.
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // Dont mess with margins on floated elements, rather use
    // transform translate
    transform: translateX(-3rem) skew(12deg);
    overflow: hidden;

    @include respond (phone) {
      transform: translateX(-3rem) skew(0);
    }
  }
  &__image {
    height: 100%;
    transform: scale(1.2);
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  &__text {
    transform: skew(12deg);
    backface-visibility: hidden;
    
    @include respond (phone) {
      transform: skew(0);
    }
  }
  &__caption {
    // Intial state should be to the bottom of the image for the
    // animation.
    @include absCenter($y: -20%);
    position: absolute;
    opacity: 0;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    transition: all 0.3s;
  }
  &:hover &__caption {
    opacity: 1;
    @include absCenter;
  }
  &:hover &__image {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
