.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .60);
    border-radius: $radius-x-small;
    padding: 6rem;
    font-size: $default-font-size;
    padding-left: 9rem;
    transform: skewX(-12deg);
    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left; 
        // Its the center of the circle horizontally and vertically
        // for this to work, the element has to be floated, and if the 
        // element has a width and a height.
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); 
        // Dont mess with margins on floated elements, rather use 
        // transform translate
        transform: translateX(-3rem) skew(12deg);
        overflow: hidden;
    }
    &__image {
        height: 100%;
        transform: scale(1.2);
        transition: transform .3s;
        backface-visibility: hidden;
    }
    &__text {
        transform: skew(12deg);
        backface-visibility: hidden;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%; 
        // Intial state should be to the bottom of the image for the 
        // animation. 
        transform: translate(-50%, 20%);
        opacity: 0;
        color: $color-white;
        font-size: 1.7rem;
        text-align: center;
        transition: all .3s;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__image {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
}